@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  padding: 2rem 0;
}

.container {
  width: 400px;
}

h1 {
  margin: 1.5rem 0;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 1rem 0;
}

#balance {
  font-size: 32px;
  display: block;
}

.card {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.32);
}

.card h3 {
  width: 50%;
  text-align: center;
  line-height: 2;
}

#income {
  display: block;
  color: #2ecc71;
  font-weight: normal;
}

#expense {
  display: block;
  color: #c0392b;
  font-weight: normal;
}

.vert-line {
  width: 1px;
  height: 60px;
  background-color: #ddd;
  margin-top: 10px;
}

h4 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

hr {
  background-color: #ddd;
  margin-bottom: 1rem;
}

label {
  line-height: 1.3;
  display: block;
  margin-bottom: 0.7rem;
}

.form-control {
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.btn:focus,
.form-control:focus {
  outline: 0;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background-color: #9c88ff;
}

.btn:active {
  transform: scale(0.97);
}

ul {
  list-style: none;
}

li {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.32);
  position: relative;
  line-height: 2;
}

.delete-btn {
  position: absolute;
  top: 5px;
  left: -30px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #e74c3c;
  color: #fff;
  font-size: 20px;
  display: none;
}

li:hover .delete-btn {
  display: block;
}

.delete-btn:focus {
  outline: 0;
}

.history-amount {
  float: right;
}

.history-red,
.history-green {
  width: 5px;
  height: 40px;
  background-color: #2ecc71;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
}

.history-red {
  background-color: #c0392b;
}
