@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --color-primary: #9d0191;
    --color-sec: #ff5733;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    margin: 0 auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(./images/music.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 50%; 
    height: 100%;
    width: 900px;
    background: rgba(0,0,0,.6);
    background-attachment: fixed;
    z-index: -1;
    transform: translateX(-50%);
    
}

/* UTILITY */
.p-small {
    padding-bottom: 5px;
}
.p-medium {
    padding-bottom: 10px;
}
.p-y {
    padding: 10px 0;
}
.m-y {
    margin: 10px 0;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header .container{
    padding: 4rem 0;
    text-align: center;
    background-color: var(--color-sec);
    border-radius: 0 0 5rem 5rem;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 3rem;
    color: #fff;
    padding-bottom: 1rem;
}

form input,
form button {
    outline: none;
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    font-family: inherit;
}
form input {
    width: 50%;
    border-radius: 1rem 0 1rem 0;
    margin-right: 3px;
    border-bottom: 3px solid var(--color-primary);
}

form button {
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
}

form button:hover {
    border: 1px solid #fff;
}

section .container {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 3rem 0;
}

.songs {
    width: 70%;
    list-style: none;
    margin:0 auto;
    padding: 2rem 0;
}

.songs li {
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.songs li span{
    font-size: 1.4rem;
    background-color: var(--color-primary);
    padding: 5px;
    margin: 5px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}


